@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins" sans-serif;
}

body {
  background-color: black;
}

.main {
  background-image: url("assests/backgimg.jpg");
  background-size: max(1300px 100vh);
  background-repeat: no-repeat;
  background-position: center center;
  height: 644px;
  position: relative;
}

.main .box {
  width: 100%;
  height: 664px;
  background-color: black;
  opacity: 0.69;
  position: absolute;
  top: 0;
}

.main nav {
  width: 80vw;
  height: 100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main img {
  color: red;
  width: 130px;
  position: relative;
  z-index: 10;
}

nav .btn {
  position: relative;
  z-index: 10;
}

.hero {
  font-family: "Martel Sans", sans-serif;
  height: calc(100% - 100px);
  display: flex;
  justify-content: center;
  position: relative;
  color: white;
  align-items: center;
  flex-direction: column;
  padding: 0 3px;
  gap: 23px;
}

.hero > :nth-child(1) {
  font-family: "Poppins Sans", sans-serif;
  font-weight: bolder;
  font-size: 48px;
  text-align: center;
}
.hero > :nth-child(2) {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}

.hero > :nth-child(3) {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.separation {
  height: 7px;
  background-color: rgb(85, 84, 84);
  position: relative;
  z-index: 10;
}
.btn {
  color: white;
  font-size: large;
  border: 1px solid rgba(255, 255, 255, 0.718);
  background-color: rgba(245, 241, 241, 0.044);
  padding: 3px 8px;
  font-weight: 400;
  cursor: pointer;
  border-radius: 5px;
}
.btn-red-sm {
  background-color: red;
  color: white;
}

.btn-red {
  background-color: red;
  padding: 3px 24px;
  color: white;
  border-radius: 6px;
}

.hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.hero-btn input {
  color: white;
  padding: 7px 101px 8px 14px;
  font-size: smaller;
  background-color: rgba(23, 23, 23, 0.7);
  border-radius: 4px;
  border: 1px solid rgba(255, 234, 234, 0.5);
}

.first {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 70vw;
  margin: auto;
}

.secImg {
  position: relative;
}
.secImg img {
  width: 555px;
  position: relative;
  z-index: 10;
}
.secImg video {
  position: absolute;
  right: 0;
  width: 555px;
  top: 51px;
}
section.first > div {
  display: flex;
  flex-direction: column;
  padding: 34px 0px;
}
section.first > div :nth-child(1) {
  font-weight: bolder;
  font-size: 48px;
  text-align: center;
}
section.first > div :nth-child(2) {
  font-size: 24px;
  text-align: center;
}
.faq {
  background-color: black;
  color: white;
  padding: 34px;
}
.faq h2 {
  text-align: center;
  font-size: 48px;
}
.faq-box img {
  filter: invert(1);
}
.faq-box {
  transition: all 1s ease-out;
  color: white;
  max-width: 60vw;
  display: flex;
  justify-content: space-between;
  background-color: #2d2d2d;
  margin: 34px auto;
  cursor: pointer;
  padding: 24px;
  font-size: 24px;
  border-radius: 5px;
}

.faq-box:hover {
  background-color: #414141;
  color: white;
}
